body {
  background-color: rgb(34, 34, 34);
}

.book-inactive, .book-active, .book {
  overflow: hidden;
  max-width: 1000px;
  max-height: 500px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  border-radius: 3px;
  position: absolute;
  top: 20px;
  left: 45px;  /* 25 + 20 */
}

.background {
  position: static;
  border-collapse: collapse;  /* no cell borders */
  border-width: 1px;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.chart {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  border-radius: 3px;
  /*position: relative;
  top: 50px;
  left: 45px;*/
}

#priceChart {
  position: absolute;
  top: 380px;
  left: 45px;
}

#volumeChart {
  position: absolute;
  top: 690px;
  left: 45px;
}

.message {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 8pt;
}

.cell {
  border-style:dashed;
  border-color: rgba(255, 255, 255, 0.02);
  padding: 0px;
  border-width: 1px;
  width: 24px;
  height: 24px;
}

.bid {
  background: rgb(255, 82, 82);
  position: absolute;
  width: 25px;
  border-radius: 3px;
}

.ask {
  background: rgb(82, 82, 255);
  position: absolute;
  width: 25px;
  border-radius: 3px;
}

.orders {
  position: absolute;
}

.xlabel {
  color: white;
  position: static;
  padding: 0px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 7pt;
}

.ylabel {
  color: white;
  position: static;
  padding: 0px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 7pt;
}

.yaxis {
  border-collapse: collapse;
  padding: 0px;
  position: absolute;
  left: 20px;
  top: 32.5px;  /* 12.5 + 20 */
  width: 25px;
  font-size: 8pt;
}

.xaxis {
  border-collapse: collapse;
  padding: 0px;
  position: absolute;
  left: 45px;  /* 25 + 20 */
  top: 270px;  /* 250 + 20 */
  height: 25px;
  font-size: 8pt;
}

.buttonPanel {
  position: absolute;
  top: 310px;  /* 20 + 10 */
  /*left: 145px;  /* 25 + 20 + 10 */*/
  height: 20px;
  width: 180px;
}

button {
  height: 20px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 3pt;
  border: none;
  margin: 2px;
  color: rgb(34, 34, 34);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

button:active {
  background-color: rgb(235, 235, 235);
}

.messageWindow {
  position: absolute;
  top: 30px;
  left: 45px;
  height: 50px;
}

.message {
  position: relative;
  margin: 0px;
  /*color: rgba(255, 255, 255, 0.5);*/
  font-family: 'Open Sans', sans-serif;
  font-size: 8pt;
  width: 100%;
  text-align: center;
}
